# Replace example teams with real GitHub teams.
*                                      @r4l/cloud-infra
/modules/                              @r4l/cloud-infra @r4l/platform-architecture
/policies/                             @r4l/cloud-infra @r4l/security-engineering
/live/prod/                            @r4l/cloud-infra
/live/prod/workloads/printing-api/     @r4l/cloud-infra @r4l/printing-platform
/.github/workflows/                    @r4l/cloud-infra @r4l/security-engineering
/docs/adr/                             @r4l/cloud-infra @r4l/platform-architecture
/scripts/bootstrap-backend.sh          @r4l/cloud-infra @r4l/security-engineering
